* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.hidden {
    display: none;
}

/* Common Class */

.btn {
    border: none;
    border-radius: 40px;
    background-color: #872BFF;
    color: #FFFFFF;
    padding: 12px 25px;
    font-weight: bold;
    box-shadow: 2px 4px 8px 0px rgb(0, 0, 0, 0.3);
    transition: all .5s;
}

.btn:hover {
    background-color: rgb(5, 5, 5);
    color: #FFFFFF;
    border-color: rgb(5, 5, 5);
    transform: translateX(5px);
}

.container {
    /* border: 1px solid blue; */
    width: 87.5%;
    margin: 50px auto 0px auto;
}


/* Hero Section */

#hero {
    /* border: 1px solid brown; */
    background-image: url('images/Hero-bg.png');
}

#hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hero-content * {
    margin-top: 12px;
}

#hero-content h1 {
    font-size: 52px;
}

#hero-content h1 span {
    color: #872BFF;
}

#hero-content p {
    color: #8A8A8A;
    font-size: 14px;
}

.hero-btn-2 {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #872BFF;
    margin-left: 12px;
}


/* Skill Section */

#skill,
#project,
#experience,
#footer {
    margin-top: 100px;
}

#skill-heading h4,
#project-heading h4,
#experience-heading h4 {
    text-align: center;
    font-size: 22px;
    color: #6A14DA;
    letter-spacing: 5px;
}

#skill-heading h2,
#project-heading h2,
#experience-heading h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 16px;
}

.card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}

.card {
    text-align: center;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.3);
    transition: all .2s;
}

.card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.6);
}

.card * {
    margin-bottom: 20px;
}

.card p {
    font-size: 14px;
    color: #0D1321;
}

.card a {
    color: #0D1321;
    font-weight: bold;
}


/* Project Section */

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border: 1px solid rgb(3, 83, 255);
    border-radius: 25px;
    margin-top: 50px;
}

.project-card-2 {
    justify-content: space-between;
}

.project-card-2 .project-content {
    margin-left: 30px;
}

.project-image img {
    width: 400px;
    border-radius: 25px;
    margin: 30px;
}

.project-content * {
    margin-top: 12px;
}

.project-content h3 {
    font-size: 28px;
}

.project-content p {
    font-size: 14px;
    color: #0D1321;
    margin-bottom: 30px;
}


/* Experience Section */

#experience-card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.experience-card {
    text-align: center;
    padding: 30px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.3);
    border-radius: 25px;
    transition: all .5s;
}

.experience-card:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.6);
}

#experience-btn {
    text-align: center;
    margin-top: 50px;
}


/* Footer Section */

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#footer-container p {
    font-size: 14px;
    color: #5B5757;
}

#footer-image * {
    margin-left: 30px;
}

#footer-image *:hover {
    transform: scale(1.5, 1.5);
    transition: all .2s;
}




/* Responsive Section */


/* extra extra small devices (small phones) */
@media screen and (max-width: 369px) {
    #hero-container {
        flex-direction: column;
        align-items: center;
    }

    #hero-content h1 {
        font-size: 26px;
    }

    #hero-content p {
        font-size: 12px;
    }

    #hero-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-btn-2 {
        margin-left: 0px;
    }

    .hero-btn-1,
    .hero-btn-2 {
        padding: 12px 30px;
        font-size: 17px;
    }

    #hero-image img {
        max-width: 300px;
    }


    .card-box {
        flex-direction: column;
        gap: 30px;
    }

    .card {
        max-width: 90%;
    }


    .project-card {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .project-image img {
        max-width: 300px;
    }

    .p-content-1 button,
    .p-content-2 button {
        margin-bottom: 16px;
    }


    #experience-btn button {
        padding: 16px 30px;
        font-size: 18px;
    }

    #footer-container {
        flex-direction: column;
    }

    #footer-image * {
        margin-top: 16px;
    }
}

/* extra small devices (medium phones) */
@media screen and (min-width: 370px) and (max-width: 575px) {
    #hero-container {
        flex-direction: column;
        align-items: center;
    }

    #hero-content h1 {
        font-size: 36px;
    }

    #hero-image img {
        max-width: 350px;
    }

    .card-box {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .card {
        max-width: 48%;
    }


    #project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 350px;
    }

    .project-image img {
        max-width: 300px;
    }

    .p-content-1 button,
    .p-content-2 button {
        margin-bottom: 16px;
    }


    .experience-card {
        max-width: 48%;
    }

    .experience-card img {
        width: 110px;
    }

    #experience-btn button {
        padding: 16px 40px;
        font-size: 18px;
    }

    #footer-container {
        flex-direction: column;
    }
    #footer-container p {
        font-size: 16px;
    }
    #footer-image * {
        margin-top: 16px;
    }
}

/* small devices (large phones) */
@media screen and (min-width: 576px) and (max-width: 767px) {
    #hero-container {
        flex-direction: column;
        align-items: center;
    }

    #hero-content h1 {
        font-size: 40px;
    }

    .hero-btn-1,
    .hero-btn-2 {
        padding: 12px 40px;
        font-size: 17px;
    }

    #hero-image img {
        max-width: 400px;
    }

    .card-box {
        flex-direction: row;
        gap: 10px;
    }

    .card {
        max-width: 32%;
    }

    .card img {
        width: 46px;
    }


    .project-card {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .project-image img {
        max-width: 280px;
        margin: 10px;
    }


    .experience-card {
        max-width: 33%;
    }

    .experience-card img {
        width: 110px;
    }

    #experience-btn button {
        padding: 16px 40px;
        font-size: 18px;
    }
}

/* medium devices (tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #hero-content h1 {
        font-size: 32px;
    }

    #hero-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-btn-2 {
        margin-left: 0px;
    }

    .hero-btn-1,
    .hero-btn-2 {
        padding: 12px 30px;
        font-size: 17px;
    }

    #hero-image img {
        max-width: 350px;
    }

    .card-box {
        gap: 10px;
    }

    .card {
        max-width: 32%;
    }

    .card img {
        width: 76px;
    }

    .project-image img {
        max-width: 350px;
    }

    #experience-card-box {
        justify-content: space-evenly;
    }

    .experience-card {
        max-width: 33%;
    }

    #experience-btn button {
        padding: 16px 40px;
        font-size: 18px;
    }
}

/* large devices (desktops) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #hero-container {
        gap: 30px;
    }

    #hero-content h1 {
        font-size: 42px;
    }

    #hero-image img {
        max-width: 370px;
    }
}

/* extra large devices (big desktops) */
@media screen and (max-width: 1200px) and (max-width: 1399px) {}

/* extra extra large devices (very large monitors) */
@media screen and (min-width: 1400px) {}